xsd_taxfree/TFTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="tftypes" targetNamespace="tftypes" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.4" xml:lang="pl">
    <!--#####################################################################################################################################################-->
    <!-- Typy proste -->
    <xsd:simpleType name="TData" id="TData">
        <xsd:annotation>
            <xsd:documentation>Typ daty</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:date">
            <xsd:minInclusive value="1900-01-01"/>
            <xsd:whiteSpace value="collapse"/>
            <xsd:pattern value="\d{4}-\d{2}-\d{2}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TDataCzas" id="TDataCzas">
        <xsd:annotation>
            <xsd:documentation>Typ daty i godziny</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:dateTime">
            <xsd:whiteSpace value="collapse"/>
            <xsd:pattern value="\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(\.\d+)?"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TNrPozycji">
        <xsd:annotation>
            <xsd:documentation>Numer pozycji rejestru zwrot vat / Liczba porządkowa pozycji</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:pattern value="\d{1,10}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TNrNIP">
        <xsd:annotation>
            <xsd:documentation>Numer NIP</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:pattern value="[1-9]((\d[1-9])|([1-9]\d))\d{7}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TNrPaszportu">
        <xsd:annotation>
            <xsd:documentation>Numer Paszportu</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="50"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TKodKraju">
        <xsd:annotation>
            <xsd:documentation>Kod kraju ISO 3166-1 alfa-2/3</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="2"/>
            <xsd:maxLength value="3"/>
            <xsd:pattern value="[A-Z]{2,3}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TWartosc">
        <xsd:annotation>
            <xsd:documentation>Wartość</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal">
            <xsd:whiteSpace value="collapse"/>
            <xsd:totalDigits value="16"/>
            <xsd:fractionDigits value="2"/>
            <xsd:minInclusive value="0"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TImie">
        <xsd:annotation>
            <xsd:documentation>Pierwsze imię</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="50"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TNazwisko">
        <xsd:annotation>
            <xsd:documentation>Nazwisko</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:maxLength value="81"/>
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TNazwa">
        <xsd:annotation>
            <xsd:documentation>Nazwa podmiotu</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="150"/>
            <xsd:whiteSpace value="replace"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TKodPocztowy">
        <xsd:annotation>
            <xsd:documentation>Kod pocztowy - Pocztowy Numer Adresowy
        </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
        <xsd:maxLength value="8"/>
    </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="TMiejscowosc">
    <xsd:annotation>
        <xsd:documentation>Nazwa miejscowości</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
        <xsd:maxLength value="56"/>
        <xsd:minLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="TKodWaluty">
    <xsd:annotation>
        <xsd:documentation>Kod waluty</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
        <xsd:pattern value="[A-Z]{3}"/>
    </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="TUlica">
    <xsd:annotation>
        <xsd:documentation>Nazwa ulicy</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
        <xsd:maxLength value="50"/>
        <xsd:minLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="TNrBudynku">
    <xsd:annotation>
        <xsd:documentation>Numer budynku</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="TNrLokalu">
    <xsd:annotation>
        <xsd:documentation>Numer lokalu</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="TAsortyment">
    <xsd:annotation>
        <xsd:documentation>Nazwa towaru pozwalająca na jego jednoznaczną identyfikację.
    </xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:string">
    <xsd:minLength value="1"/>
    <xsd:maxLength value="255"/>
    <xsd:whiteSpace value="replace"/>
</xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TStawkaVAT">
        <xsd:annotation>
            <xsd:documentation>Stawka podatku VAT</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:int">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="23"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TIlosc">
        <xsd:annotation>
            <xsd:documentation>Ilość sprzedanego towaru. Wartość numeryczna 22 znaki max, w tym 6 po przecinku.
        </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
        <xsd:totalDigits value="22"/>
        <xsd:fractionDigits value="6"/>
    </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="TMiaraIlosci">
    <xsd:annotation>
        <xsd:documentation>Miara ilości sprzedanego towaru.
    </xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
    <xsd:minLength value="1"/>
    <xsd:maxLength value="20"/>
</xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TNrRachBankowego">
        <xsd:annotation>
            <xsd:documentation>Numer rachunku bankowego, karty płatniczej lub innego środka wypłaty bezgotówkowej
        </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
        <xsd:minLength value="10"/>
        <xsd:maxLength value="40"/>
    </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="TNrUNS">
    <xsd:annotation>
        <xsd:documentation>Unikalny Numer Systemowy - nadawany dokumnetowi TAXFREE po przyjciu do repozytorium, po walidacji formalnej
    </xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
    <xsd:maxLength value="17"/>
</xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TNrDokumentu">
        <xsd:annotation>
            <xsd:documentation>Numer własny dokumentu TAX FREE</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:whiteSpace value="collapse"/>
            <xsd:maxLength value="40"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TNrKasy">
        <xsd:annotation>
            <xsd:documentation>Numer unikatowy kasy rejestrującej
        </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="20"/>
    </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="TNrParagonu">
    <xsd:annotation>
        <xsd:documentation>Numer paragonu</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
        <xsd:minLength value="1"/>
        <xsd:maxLength value="30"/>
    </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="TNrIDSISC">
    <xsd:annotation>
        <xsd:documentation>Unikalny identyfikator ID SISC</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
        <xsd:minLength value="10"/>
        <xsd:maxLength value="50"/>
    </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="TFormaZwrotuVAT">
    <xsd:annotation>
        <xsd:documentation>Forma zwrotu podatku VAT (1 - gotówkowa, 0 - bezgotówkowa)</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:boolean"/>
</xsd:simpleType>
<xsd:simpleType name="TPoczta">
    <xsd:annotation>
        <xsd:documentation>Poczta</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
        <xsd:maxLength value="56"/>
        <xsd:minLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="TStatusDokumentu">
    <xsd:annotation>
        <xsd:documentation>Status dokumentu dla przedsiębiorcy</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
        <xsd:length value="2"/>
        <xsd:enumeration value="01">
            <xsd:annotation>
                <xsd:documentation>Wprowadzony: Wymagane dane dokumentu TAX FREE zostały dostarczone do systemu, w wyniku czego, po przeprowadzonej walidacji, system nadaje dokumentowi TAX FREE Unikalny Numer Systemowy.</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="02">
            <xsd:annotation>
                <xsd:documentation>Unieważniony: Dokument unieważniony przez Sprzedawcę dokonującego zgłoszenia. Unieważnienie możliwe jest tylko dla dokumentów w statusie „Wprowadzony”. Status „Unieważniony” oznacza zakończenie obsługi dokumentu TAX FREE.</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="03">
            <xsd:annotation>
                <xsd:documentation>Potwierdzony wywóz: Towar wywieziony poza terytorium UE. Dokument TAX FREE potwierdzony przez funkcjonariusza na granicy RP lub informacja przesłana przez przedsiębiorcę, w przypadku wywozu przez granicę innego państwa członkowskiego.</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="04">
            <xsd:annotation>
                <xsd:documentation>Potwierdzony częściowy wywóz: Towar wywieziony poza terytorium UE w ilości mniejszej niż wynikająca z dokumentu TAX FREE (mniejsza ilość zgłoszona przez Podróżnego lub stwierdzona w wyniku rewizji). Dokument TAX FREE potwierdzony przez funkcjonariusza na granicy RP lub informacja przesłana przez przedsiębiorcę, w przypadku wywozu przez granicę innego państwa członkowskiego.</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="05">
            <xsd:annotation>
                <xsd:documentation>Brak potwierdzenia wywozu: Podróżny przedstawił dokument, ale w wyniku kontroli stwierdzono brak towaru, lub stwierdzono całość towaru w stanie naruszonym, lub w wyniku kontroli stwierdzono błędy formalne lub prawne (np.: stałe miejsce zamieszkania UE; charakter handlowy; paliwa silnikowe, lub inne – pozostałe). Status „Brak potwierdzenia wywozu” oznacza zakończenie obsługi dokumentu TAX FREE.</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="06">
            <xsd:annotation>
                <xsd:documentation>Rozliczony z podróżnym: Dokonano zwrotu podatku VAT. Status „Rozliczony z podróżnym” oznacza zakończenie obsługi dokumentu TAX FREE, będącego uprzednio w statusie „Potwierdzony wywóz” lub „Potwierdzony częściowy wywóz”.</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="07">
            <xsd:annotation>
                <xsd:documentation>Zamknięty: Status oznaczający zakończenie obsługi dokumentu TAX FREE w sytuacji, gdy nie dokonano zwrotu podatku VAT Podróżnemu. Status „Zamknięty” jest nadawany automatycznie, po 10 miesiącach, licząc od końca miesiąca, w którym dokonano sprzedaży, nierozliczonym dokumentom ze statusem „Potwierdzony wywóz” lub „Potwierdzony częściowy wywóz”, a także  dokumentom pozostającym w statusie „Wprowadzony” – po trzech miesiącach, licząc od końca miesiąca, w którym dokonano sprzedaży.</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="99">
            <xsd:annotation>
                <xsd:documentation>Odprawa: Status tymczasowy, umożliwiający dokonanie obsługi dokumentu TAX FREE w systemie TAXFREE2, której wynikiem będzie zmiana jego statusu z „Wprowadzony” na jeden z następujących: „Potwierdzony wywóz”, „Potwierdzony częściowy wywóz”, „Brak potwierdzenia wywozu” lub „Zamknięty”.  </xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
    </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="TStatusPozycji">
    <xsd:annotation>
        <xsd:documentation>Status pozycji towarowej</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
        <xsd:length value="2"/>
        <xsd:enumeration value="01">
            <xsd:annotation>
                <xsd:documentation>Zgodny: Status pozycji towarowej nadawany przez system automatycznie dla każdej pozycji towarowej w momencie dostarczenia do systemu dokumentu TAX FREE, jego walidacji oraz nadania mu Unikalnego Numeru Systemowego</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="02">
            <xsd:annotation>
                <xsd:documentation>Częściowy brak towaru - zgłoszony: Status nadawany przez system dla pozycji towarowej w przypadku zgłoszenia przez podróżnego w trakcie przyjmowania zgłoszenia wywozowego towarów ujętych w dokumencie TAX FREE braku części wywożonych towarów.</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="03">
            <xsd:annotation>
                <xsd:documentation>Brak towaru - zgłoszony: Status nadawany przez system dla pozycji towarowej w przypadku zgłoszenia przez podróżnego całkowitego braku towaru dla wskazanej pozycji.</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="04">
            <xsd:annotation>
                <xsd:documentation>Naruszony: Status nadawany przez system dla całej pozycji towarowej w przypadku stwierdzenia podczas kontroli wywożonego towaru obecność towaru, którego stan jest różny od stanu w jakim był on sprzedany dla całej pozycji towarowej.</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="05">
            <xsd:annotation>
                <xsd:documentation>Częściowo naruszony: Status nadawany przez system dla pozycji towarowej w przypadku stwierdzenia w trakcie kontroli wywożonego towaru obecność towaru, którego stan jest różny od stanu w jakim był on sprzedany. Może dotyczyć części pozycji.</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="06">
            <xsd:annotation>
                <xsd:documentation>Częściowy brak towaru - po kontroli: Status nadawany przez system dla pozycji towarowej w przypadku stwierdzenia w trakcie kontroli braku części wywożonych towarów.</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="07">
            <xsd:annotation>
                <xsd:documentation>Inne - stałe mniejsce zamieszkania UE: Status nadawany przez system dla każdej pozycji towarowej w przypadku stwierdzenia podczas odprawy i kontroli wywożonego towaru braku spełnienia przez podróżnego warunku posiadania stałego miejsca zamieszkania w kraju trzecim (poza UE).</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="08">
            <xsd:annotation>
                <xsd:documentation>Inne - charakter handlowy: Status nadawany przez system dla każdej pozycji towarowej w przypadku stwierdzenia podczas odprawy i kontroli wywożonego towaru wykorzystywanie procedury TAX FREE niezgodnie z jej przeznaczeniem tzn. dokonywania wywozu towarów w systemie TAX FREE do celów komercyjnych (handlowych).</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="09">
            <xsd:annotation>
                <xsd:documentation>Inne – paliwo silnikowe, usługa: Status nadawany przez system dla pozycji towarowej w przypadku stwierdzenia w trakcie kontroli konieczności jej anulowania z uwagi na charakter towaru lub usługi ujętej w danej pozycji. Status ten może być badany wszystkim pozycjom towarowym lub wybranym pozycją.</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="10">
            <xsd:annotation>
                <xsd:documentation>Inne - pozostałe (w zależności od stwierdzonych nieprawidłowości): Status nadawany przez system dla każdej pozycji towarowej w przypadku stwierdzenia podczas kontroli wywożonego towaru wystąpienia nieprawidłowości, której nie da się przypisać do nieprawidłowości opisanych powyżej.</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
        <xsd:enumeration value="11">
            <xsd:annotation>
                <xsd:documentation>Brak towaru - po kontroli: Status nadawany przez system dla pozycji towarowej w przypadku stwierdzenia całkowitego braku towaru dla wskazanej pozycji.</xsd:documentation>
            </xsd:annotation>
        </xsd:enumeration>
    </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="TPowodUniewaznienia">
    <xsd:annotation>
        <xsd:documentation>Powód unieważnienia</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
        <xsd:maxLength value="255"/>
        <xsd:minLength value="1"/>
    </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="TIdBledu">
    <xsd:annotation>
        <xsd:documentation>Informacja indentyfikująca komunikat błędu
    </xsd:documentation>
</xsd:annotation>
<xsd:restriction base="xsd:token">
    <xsd:minLength value="1"/>
    <xsd:maxLength value="100"/>
</xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TKodBledu">
        <xsd:annotation>
            <xsd:documentation>Kod błędu</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:token">
            <xsd:minLength value="1"/>
            <xsd:maxLength value="30"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TOpisBledu">
        <xsd:annotation>
            <xsd:documentation>Opis błędu</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="255"/>
            <xsd:minLength value="1"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="TKodJednostki">
        <xsd:annotation>
            <xsd:documentation>Kod jednostki - komórka odprawy celnej Podróżnego
        </xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
        <xsd:maxLength value="10"/>
    </xsd:restriction>
</xsd:simpleType>
<!--#####################################################################################################################################################-->
<!-- Typy złożone -->
<xsd:complexType name="TZPodrozny">
    <xsd:annotation>
        <xsd:documentation>Informacje o podróżnym</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
        <xsd:element name="Imie" type="tns:TImie" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
                <xsd:documentation>Dana osobowa Podróżnego</xsd:documentation>
            </xsd:annotation>
        </xsd:element>
        <xsd:element name="Nazwisko" type="tns:TNazwisko" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
                <xsd:documentation>Dana osobowa Podróżnego</xsd:documentation>
            </xsd:annotation>
        </xsd:element>
        <xsd:element name="DataUrodzenia" type="tns:TData" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
                <xsd:documentation>Dana osobowa Podróżnego</xsd:documentation>
            </xsd:annotation>
        </xsd:element>
        <xsd:element name="NrPaszportu" type="tns:TNrPaszportu" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
                <xsd:documentation>Dane dokumentu, na podstawie którego stwierdzono tożsamość Podróżnego.</xsd:documentation>
            </xsd:annotation>
        </xsd:element>
        <xsd:element name="KrajPaszportu" type="tns:TKodKraju" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
                <xsd:documentation>Kod kraju zgodnie z normą ISO 3166-1 alfa-2 lub alfa-3, który wydał paszport lub inny dokument, na podstawie którego stwierdzono tożsamość Podróżnego </xsd:documentation>
            </xsd:annotation>
        </xsd:element>
    </xsd:sequence>
</xsd:complexType>
<xsd:complexType name="TZAdres">
    <xsd:annotation>
        <xsd:documentation>Adres</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
        <xsd:element name="Miejscowosc" type="tns:TMiejscowosc" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
                <xsd:documentation>Część adresu Sprzedawcy</xsd:documentation>
            </xsd:annotation>
        </xsd:element>
        <xsd:element name="Ulica" type="tns:TUlica" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
                <xsd:documentation>Część adresu Sprzedawcy</xsd:documentation>
            </xsd:annotation>
        </xsd:element>
        <xsd:element name="NrDomu" type="tns:TNrBudynku" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
                <xsd:documentation>Część adresu Sprzedawcy</xsd:documentation>
            </xsd:annotation>
        </xsd:element>
        <xsd:element name="NrLokalu" type="tns:TNrLokalu" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
                <xsd:documentation>Część adresu Sprzedawcy</xsd:documentation>
            </xsd:annotation>
        </xsd:element>
        <xsd:element name="KodPocztowy" type="tns:TKodPocztowy" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
                <xsd:documentation>Część adresu Sprzedawcy</xsd:documentation>
            </xsd:annotation>
        </xsd:element>
        <xsd:element name="Poczta" type="tns:TPoczta" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
                <xsd:documentation>Część adresu Sprzedawcy</xsd:documentation>
            </xsd:annotation>
        </xsd:element>
    </xsd:sequence>
</xsd:complexType>
<xsd:complexType name="TZDaneSprzedawcy">
    <xsd:annotation>
        <xsd:documentation>Dane sprzedwacy</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
        <xsd:element name="Nazwa" type="tns:TNazwa" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
                <xsd:documentation>Nazwa sprzedawcy długości do 150 znaków</xsd:documentation>
            </xsd:annotation>
        </xsd:element>
        <xsd:element name="AdresSprzedawcy" type="tns:TZAdres" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
                <xsd:documentation>Dane adresowe podmiotu dokonującego sprzedaży. W skład wchodzą: miejscowość, ulica, numer domu, numer lokalu, kod pocztowy</xsd:documentation>
            </xsd:annotation>
        </xsd:element>
        <xsd:element name="NIPSprzedawcy" type="tns:TNrNIP" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
                <xsd:documentation>NIP Sprzedawcy</xsd:documentation>
            </xsd:annotation>
        </xsd:element>
    </xsd:sequence>
</xsd:complexType>
<xsd:complexType name="TZDaneTowaru">
    <xsd:annotation>
        <xsd:documentation>Dane towaru w pozycji</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
        <xsd:element name="Lp" type="tns:TNrPozycji">
            <xsd:annotation>
                <xsd:documentation>Liczba porządkowa określająca kolejną pozycję towarową</xsd:documentation>
            </xsd:annotation>
        </xsd:element>
        <xsd:element name="NazwaTowaru" type="tns:TAsortyment" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
                <xsd:documentation>Nazwa sprzedanego towaru pozwalająca na jednoznaczną jego identyfikację</xsd:documentation>
            </xsd:annotation>
        </xsd:element>
        <xsd:element name="MiaraIlosci" type="tns:TMiaraIlosci" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
                <xsd:documentation>Np.: Szt., kg, l</xsd:documentation>
            </xsd:annotation>
        </xsd:element>
        <xsd:element name="Ilosc" type="tns:TIlosc" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
                <xsd:documentation>Wyrażenie liczbowe określające ilość sprzedanego towaru</xsd:documentation>
            </xsd:annotation>
        </xsd:element>
        <xsd:element name="CenaNetto" type="tns:TWartosc" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
                <xsd:documentation>Wyrażenie liczbowe</xsd:documentation>
            </xsd:annotation>
        </xsd:element>
        <xsd:element name="WartoscNetto" type="tns:TWartosc" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
                <xsd:documentation>Wyrażenie liczbowe</xsd:documentation>
            </xsd:annotation>
        </xsd:element>
        <xsd:element name="StawkaVAT" type="tns:TStawkaVAT" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
                <xsd:documentation>Wyrażenie liczbowe</xsd:documentation>
            </xsd:annotation>
        </xsd:element>
        <xsd:element name="KwotaVAT" type="tns:TWartosc" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
                <xsd:documentation>Wyrażenie liczbowe</xsd:documentation>
            </xsd:annotation>
        </xsd:element>
        <xsd:element name="WartoscBrutto" type="tns:TWartosc" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
                <xsd:documentation>Wyrażenie liczbowe</xsd:documentation>
            </xsd:annotation>
        </xsd:element>
    </xsd:sequence>
</xsd:complexType>
<xsd:complexType name="TZWartoscDokumentu">
    <xsd:annotation>
        <xsd:documentation>Wartość łączna dokumentu TAX FREE
    </xsd:documentation>
</xsd:annotation>
<xsd:sequence>
    <xsd:element name="Waluta" type="tns:TKodWaluty" fixed="PLN" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
            <xsd:documentation>Kod waluty</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RazemKwotaVAT" type="tns:TWartosc" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
            <xsd:documentation>Wyrażenie liczbowe</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RazemWartoscBrutto" type="tns:TWartosc" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
            <xsd:documentation>Wyrażenie liczbowe</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
</xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TZFormaZwrotuVAT">
        <xsd:annotation>
            <xsd:documentation>Pole do zapisania formy zwrotu podatku VAT jaką wybrał Podróżny</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="FormaZwrotu" type="tns:TFormaZwrotuVAT" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Określenie formy zwrotu. Wartości: 1 - „gotówkowa” lub 0 - „bezgotówkowa”</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="NumerRachunku" type="tns:TNrRachBankowego" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Pole wymagane tylko w przypadku gdy podróżny zadeklarował wypłatę zwrotu podatku w formie bezgotówkowej</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TZDaneFiskalne">
        <xsd:annotation>
            <xsd:documentation>Dane fiskalne</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="NrKasy" type="tns:TNrKasy" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Numer urządzenia, na którym zaewidencjonowano sprzedaż towaru</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="NrParagonu" type="tns:TNrParagonu" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Numer paragonu fiskalnego potwierdzającego dokonanie sprzedaży</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DataSprzedazy" type="tns:TDataCzas" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Pole daty – data sprzedaży z paragonu fiskalnego </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TZDaneTowaruStatus">
        <xsd:annotation>
            <xsd:documentation>Dane towaru w pozycji wraz ze statusem</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Lp" type="tns:TNrPozycji" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Liczba porządkowa określająca kolejną pozycję towarową</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="NazwaTowaru" type="tns:TAsortyment" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Nazwa sprzedanego towaru pozwalająca na jednoznaczną jego identyfikację</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="MiaraIlosci" type="tns:TMiaraIlosci" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Np.: Szt., kg, l</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Ilosc" type="tns:TIlosc" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Wyrażenie liczbowe określające ilość sprzedanego towaru</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="CenaNetto" type="tns:TWartosc" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Wyrażenie liczbowe</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="WartoscNetto" type="tns:TWartosc" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Wyrażenie liczbowe</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="StawkaVAT" type="tns:TStawkaVAT" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Wyrażenie liczbowe</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="KwotaVAT" type="tns:TWartosc" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Wyrażenie liczbowe</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="WartoscBrutto" type="tns:TWartosc" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Wyrażenie liczbowe</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="StatusPozycji" type="tns:TStatusPozycji" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Dla każdej pozycji towarowej jeden z następujących statusów: Zgodny; Częściowy  brak towaru – zgłoszony; Brak towaru - zgłoszony Brak towaru - po kontroli Naruszony; Częściowo naruszony; Częściowy  brak towaru – po kontroli; Inne – stałe miejsce zamieszkania UE; Inne – charakter handlowy; Inne – paliwo silnikowe, usługa; Inne – pozostałe (w zależności od stwierdzonych nieprawidłowości). </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TZKasjer">
        <xsd:annotation>
            <xsd:documentation>Informacje dotyczące kasjera</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="KasjerIDSISC" type="tns:TNrIDSISC" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Unikalny nr IdSISC Kasjera - Element nie jest używany. Pozostawiono w celu uzyskania kompatybilności wstecznej z poprzednimi wersjami schematów.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Imie" type="tns:TImie" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Dana osobowa Kasjera</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Nazwisko" type="tns:TNazwisko" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Dana osobowa Kasjera</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <!--#####################################################################################################################################################-->
    <!-- Dokument TAX FREE -->
    <xsd:complexType name="DokumentTAXFREE">
        <xsd:annotation>
            <xsd:documentation>Elektroniczny dokument TAX FREE</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="NrDokumentuTAXFREE" type="tns:TNrDokumentu" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Kolejny numer nadany w ramach jednej lub więcej serii, który w sposób jednoznaczny identyfikuje dokument</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DaneSprzedawcy" type="tns:TZDaneSprzedawcy" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>W skład danych Sprzedawcy wchodzą: nazwa, adres, NIP</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="AdresSprzedazy" type="tns:TZAdres" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Dane adresowe miejsca prowadzenia działalności, w którym dokonano sprzedaży towaru. Adres sprzedaży jest wymagany w przypadku, gdy jest rózny od adresu zawartego w danych sprzedawcy</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DanePodroznego" type="tns:TZPodrozny" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Dane osobowe Podróżnego dokonującego zakupów w systemie TAX FREE</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DaneTowaru" type="tns:TZDaneTowaru" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Dane sprzedanego towaru w tym: nazwę sprzedanego towaru pozwalającą na jednoznaczną jego identyfikację, miarę i ilość towaru, cenę jednostkową netto towaru, wartość netto towaru, stawkę i kwotę podatku od towarów i usług, wartość brutto towaru</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="WartoscDokumentuTAXFREE" type="tns:TZWartoscDokumentu" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Zawieraja walutę, kwotę podatku od towarów i usług ogółem oraz wartość brutto towarów ogółem</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="FormaZwrotuVAT" type="tns:TZFormaZwrotuVAT" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Pole do zapisania formy zwrotu podatku VAT jaką wybrał Podróżny</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DaneFiskalne" type="tns:TZDaneFiskalne" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Dane obejmujące numer unikatowy kasy rejestrującej, na której zaewidencjonowano sprzedaż towaru, numer paragonu fiskalnego oraz datę sprzedaży</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Kasjer" type="tns:TZKasjer" minOccurs="1" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Informacje dotyczące Kasjera</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="PodmiotPosredniczacy" type="tns:TNrNIP" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>W przypadku, gdy zwrot podatku dokonywany będzie przez podmiot pośredniczący pole zawiera NIP tego podmiotu</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
